.intro{
    width:50vw;
    text-align: left;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 40px;
}
p{
    font-size: 25px;
}
