.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spanish-img {
    background: url(./images/spanish.jpg);
    background-size: cover;
    width: 70vw;
    height:40vh;

}
h1 {
    font-size: 50px;
}
p{
    font-size: 25px;
}